@model ParcelDelivery.Models.UserViewModel

@{
    ViewBag.Title = "Вход в систему";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container py-3 col-md-6 col-lg-4 mx-auto">
        <form>
            <div class="form-group">
                <h3 class="text-center mb-4">Вход в систему</h3>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
                <div class="form-group">
                    @Html.EditorFor(model => model.Login, new {htmlAttributes = new {@class = "form-control", style = "min-width: 100%", placeholder = "Имя пользователя"}})
                    @Html.ValidationMessageFor(model => model.Login, "", new {@class = "text-danger"})
                </div>
                <div class="form-group">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", style = "min-width: 100%", placeholder = "Пароль" } )
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group text-center">
                    <a class="text-center" href="@Url.Action("Register", "Account")">Зарегистрироваться.</a>
                </div>
                <div class="form-group">
                </div>
                <input class="btn btn-primary btn-lg btn-block" style="min-width: 100%" type="submit" value="Login" />
            </div>
        </form>
    </div>
}