@model ParcelDelivery.Models.CarrierViewModel
<div>
    <h3>Номер:  @Html.DisplayFor(m => m.Id)</h3>
    <p>Название: @Html.DisplayFor(m => m.Name)</p>
    <p>Адрес: @Html.DisplayFor(m => m.Address)</p>
    <p>Телефон: @Html.DisplayFor(m => m.Phone)</p>
    <p>Описание: @Html.DisplayFor(m => m.Description)</p>
</div>
